.table-view{
    -fx-background-color: white;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #9760c0, #d79fca);
    -fx-background-radius: 7px 7px 7px 7px;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header, .table-view .filler{
    -fx-background-color:  transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-alignment: LEFT;
}

.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .column-header .label{
    -fx-alignment: LEFT;
}

.background{
    -fx-background-color: linear-gradient(#ffffff, #B0BAC9);
}

.table-row-cell:selected {
    -fx-background-color: rgba(121, 140, 154, 0.91);
}
.table-row-cell:selected .text {
    -fx-fill: white;
}